# Ignorer le dossier node_modules
../node_modules

# Ignorer les fichiers de logs
*.log

# Ignorer le dossier de cache npm
.npm

# Ignorer le fichier .env qui peut contenir des variables d'environnement sensibles
.env

# Ignorer les fichiers de configuration et les dossiers personnels des développeurs
.editorconfig
.git
.gitignore
.vscode

# Ignorer les dossiers spécifiques au système d'exploitation
.DS_Store
Thumbs.db
